@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}



@media (min-width: 768px ) and (max-width: 944px)   { /* Tailwind's md breakpoint */
  body {
    min-width: 944px;
    max-width: 1024px;
    
  }
}

@media (min-width: 1024px) and (max-width: 1290px) { /* Tailwind's lg breakpoint */
  body {
    min-width: 1024px;
    max-width: 1280px;
  }
}







code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark{
  background-color: #121212;
}

/* .volume-slider{

  transform: rotate(-90deg);

} */

.slick-next:before {
  color: #0a0a0e !important; /* Replace 'red' with your desired color */
  font-size: 30px;


}
.slick-prev:before {
  color: #0a0a0e !important; /* Replace 'red' with your desired color */
  font-size: 30px;
}


  .dark .slick-next:before {
      color: rgb(183, 180, 199) !important; /* Replace '#5e43f3' with your desired color */
  }
  .dark .slick-prev:before {
      color: rgb(183, 180, 199) !important; /* Replace '#5e43f3' with your desired color */
  }
  .dark .slick-dots li button:before {
      color: white !important; /* Replace 'white' with your desired color */
  }


  .slick-prev:before, .slick-next:before {
    font-size: 40px;

  }

.highlight{
  color: white;
  text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;

}
ul.react-paginate {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0 0rem;
  gap: 2vw;
}

ul.react-paginate li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}
.dark ul.react-paginate li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
  color: white;
}
ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  border-color: transparent;
}
ul.react-paginate li.selected a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 32px;
}
ul.react-paginate li.disabled a {
  color: grey;
}
ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
  color: grey;
}

.pagination__link--active{
  font-weight: bold;
  font-size: larger;
}

/* This will affect the scrollbar in the whole application */
::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  border-radius: 2px;
}

 ::-webkit-scrollbar  {

  width: 3px; /* width of the entire scrollbar */
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb when hovering */
}


.dark ::-webkit-scrollbar-track {
  background: #282828; /* color of the tracking area */
}

.dark ::-webkit-scrollbar-thumb {
  background: #ba9ffb; /* color of the scroll thumb */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #7a5af5; /* color of the scroll thumb when hovering */
}

.volume:hover .volume-slider {
  display: block !important;
}